.columns-two {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

label.label {
  text-align: left;
  color: white;
}

.sign-up-form-container {
  background-color: black;
  padding: 20px 40px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.field {
  width: 100%;
  margin-bottom: 20px;
}
.label {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  display: block;
  text-align: left;
}
.control {
  width: 100%;
}
.roles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.checkbox {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  margin-right: 8px;
}
.role-name {
  text-transform: capitalize;
  color: white;
}
.button.has-background-warning {
  background-color: #ffcc00;
  color: black;
  margin-top: 15px;
}
.title.is-2.has-text-centered.custom-title {
  color: white;
  text-align: center;
}
.notification.is-danger {
  padding: 10px;
  background-color: #dc3545;
  color: white;
}
