#cancel{
  background-color: red;
  margin: .5cap;
  max-width: 168px;
}

#view{
  background-color: black  ;
  margin: .5cap;
  max-width: 168px;

}

#edit{
  background-color: orange   ;
  margin: .5cap;
  max-width: 168px;

}

#deliv-status{
  margin: .5cap;

}

.title-center {
  text-align: center;
  font-size: 2rem;
  margin: 20px; 
  font-weight: bold;
  
}

#title{
  color: black;
  text-align: center;
}

#table-title{
  color: black;
}

#driverBox{
  width: 100vh;
}

#driverBox-title{
  text-align: center;
  color: gray;
}

#li-title{
  color: gray;
}
