.title.custom-title {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title.custom-title-details {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 30px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
}

.card-content {
  flex: 1;
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card.custom-card {
  flex: 1;
  height: 100%;
  min-height: 200px;
  background-color: black;
  margin-left: 20px;
}

.tabs ul {
  border-bottom: 1px solid white;
}

.tabs ul li a {
  border: 1px solid transparent;
}

.tabs ul li.is-active a {
  color: white;
  cursor: default;
}

.custom-column {
  background-color: black;
}

.card.custom-card-details {
  flex: 1;
  height: 100%;
  min-height: 200px;
  background-color: black;
  margin-left: 20px;
}

.full-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html body {
  min-height: 100vh;
}

.title.custom-message {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}