.form-container {
  background-color: black;
  padding: 60px 40px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.sign-up-form-container {
  background-color: black;
  padding: 20px 40px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sign-up-form-container input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 5px;
}

.notification.is-danger {
  padding: 10px;
}

.column.custom-image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 0;
}

.column.custom-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.radio-button {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.button.has-background-warning {
  margin-top: 15px;
}